// от 320 мобильная версия
.container() {
  width: 320px;
  margin: 0 auto;
  // от 700 планшетная версия
  @media @tablet-widths {
    width: 620px;
  }
  // от 1200 десктопная версия
  @media @desktop-widths {
    width: 940px;
  }
}
.no-outline() {
  outline: none;
  background: transparent;

  &::before {
    display: none;
  }
}
