.logo {
   color: #ffffff;
}
.logo {
  position: absolute;
  padding: 22px 20px;
  text-align: center;
}

.logo img {
  width: 75px;
  height: 22px;
}

.logo--footer {
  position: relative;
  & img {
    width: 147px;
    height: 40px;
  }
}
