.preview {
  text-align: center;
  /*min-height: 828px;*/
  background-color: @bg-lightgrey;
  overflow: hidden;
}

.preview__title {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.preview__text {
  padding: 0px 24px;
  font-size: 14px;
  font-weight: 400;

}
.preview__img {
  position: relative;
  top: 43px;
}
