.promo {
  padding: 36px 46px 53px 48px;
  width: 100%;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  color: #fff;
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat 50% 50%;
}

.promo--index {
  height: 462px;
  text-align: center;
  background: transparent url("../img/3-layers.png") no-repeat 0px 0px;
}
