.promo {
  .container();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 715px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  color: #fff;
  background: url(../img/bg-back-mobile@1x.jpg) no-repeat;
}

.promo__img {
  content: "";
  position: absolute;
  width: 320px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.promo__download {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #fff;
  background-color: #1d2632;
  margin: 0 auto;
}

@media @tablet-widths {
  .promo {
    width: 100%;
    flex-direction: row;
    min-height: 350px;
  }
  .promo__img-block {
    width: 50%;
    order: 2;
  }
  .promo__download-block {
    width: 50%;
  }
  .promo__img {
    width: 50%;
    left: 50%;
  }
  .promo__download {
    width: 50%;
    margin: 0;
    background-color: transparent;
  }
}
  @media @desktop-widths {
   .promo {
    width: 100%;
    padding-left: 140px;
    padding-top: 100px;
    min-height: 853px;
    margin-top: -110px;
    background: url(../img/bg-back-mobile@1x.jpg);
  }
  .promo__img-block,
  .promo__download-block  {
    margin-top: 110px;
    min-height: 645px;
  }
  .promo__img{
    height: 645px;

  }
}

