.tagline {
  color: #364351;
  font-size: 24px;
  font-weight: 300;
  font-family: "Open Sans";
}

.tagline__text {
  width: 200px;
  padding: 30px 60px;
  &:first-child {
    padding-bottom: 0px;
  }
}
